h1{
    color: brown;
    font-weight: bold;
    font-size: 60px;
}

  
  
    
}
.jabar{
    font-style: italic;
    color: black;


}
h2{
    color: blue;
}
*{
    background-color: ghostwhite;
}
body{

}
.hasi{
  
    border: 2px solid;
background-color: brown;
   
}
.jeyz{
 
}
html{
    background-color: darkgreen;
}